ScarIntelFinal/ScarIntel/ScarIntel/Service References/BrokerService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SharedLibrary.Model" elementFormDefault="qualified"
           targetNamespace="http://schemas.datacontract.org/2004/07/SharedLibrary.Model"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:10000/?xsd=xsd3"
             namespace="http://schemas.datacontract.org/2004/07/SharedLibrary" />
  <xs:complexType name="ArrayOfDocument">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Document" nillable="true" type="tns:Document" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDocument" nillable="true" type="tns:ArrayOfDocument" />
  <xs:complexType name="Document">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SharedLibrary" minOccurs="0" name="Person"
                  nillable="true" type="q1:Person" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SharedLibrary" minOccurs="0" name="Type"
                  nillable="true" type="q2:DocumentType" />
      <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="emission_date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="emission_local" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="expiration_date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Document" nillable="true" type="tns:Document" />
  <xs:complexType name="ArrayOfParticipant">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Participant" nillable="true" type="tns:Participant" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfParticipant" nillable="true" type="tns:ArrayOfParticipant" />
  <xs:complexType name="Participant">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SharedLibrary" minOccurs="0" name="Person"
                  nillable="true" type="q3:Person" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SharedLibrary" minOccurs="0" name="Regist"
                  nillable="true" type="q4:Regist" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Participant" nillable="true" type="tns:Participant" />
</xs:schema>