ScarIntelFinal/ScarIntel/ScarIntel/Service References/BrokerService/Server62.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="BrokerService" elementFormDefault="qualified" targetNamespace="BrokerService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://localhost:8080/Server.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Domain.DataContract" />
  <xs:element name="GetAllDocumentType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDocumentTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Domain.DataContract" minOccurs="0" name="GetAllDocumentTypeResult" nillable="true" type="q1:ArrayOfDocumentType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPersonByIdRegist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idRegist" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPersonByIdRegistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Domain.DataContract" minOccurs="0" name="GetAllPersonByIdRegistResult" nillable="true" type="q2:ArrayOfPerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDocumentPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idperson" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDocumentPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Domain.DataContract" minOccurs="0" name="GetAllDocumentPersonResult" nillable="true" type="q3:ArrayOfDocument" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRegists">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRegistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Domain.DataContract" minOccurs="0" name="GetAllRegistsResult" nillable="true" type="q4:ArrayOfRegist" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCrimeTypeByRegist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idRegist" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCrimeTypeByRegistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Domain.DataContract" minOccurs="0" name="GetAllCrimeTypeByRegistResult" nillable="true" type="q5:ArrayOfCrimeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="person_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Domain.DataContract" minOccurs="0" name="GetRegistsResult" nillable="true" type="q6:ArrayOfRegist" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNumberOfParticipants">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="regist" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNumberOfParticipantsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNumberOfParticipantsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCrimeType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCrimeTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Domain.DataContract" minOccurs="0" name="GetAllCrimeTypeResult" nillable="true" type="q7:ArrayOfCrimeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Domain.DataContract" minOccurs="0" name="searchParams" nillable="true" type="q8:SearchParams" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Domain.DataContract" minOccurs="0" name="GetAllPersonResult" nillable="true" type="q9:SearchResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Domain.DataContract" minOccurs="0" name="GetPersonResult" nillable="true" type="q10:Person" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBiometricTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="person_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBiometricTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Domain.DataContract" minOccurs="0" name="GetBiometricTypesResult" nillable="true" type="q11:ArrayOfBiometricType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBiometricType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="person_id" type="xs:int" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBiometricTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Domain.DataContract" minOccurs="0" name="GetBiometricTypeResult" nillable="true" type="q12:BiometricType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertParticipant">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Domain.DataContract" minOccurs="0" name="val" nillable="true" type="q13:Participant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertParticipantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertParticipantResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Domain.DataContract" minOccurs="0" name="val" nillable="true" type="q14:Person" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPersonResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertRegist">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Domain.DataContract" minOccurs="0" name="val" nillable="true" type="q15:Regist" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertRegistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertRegistResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertBiometricType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Domain.DataContract" minOccurs="0" name="val" nillable="true" type="q16:BiometricType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertBiometricTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertBiometricTypeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Domain.DataContract" minOccurs="0" name="doc" nillable="true" type="q17:Document" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertDocumentResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>