ScarIntelFinal/ScarIntel/Test/Service References/BrokerService/Server.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="BrokerService" elementFormDefault="qualified" targetNamespace="BrokerService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://samsung-pc:8081/Server.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Domain.ServiceContract" />
  <xs:import schemaLocation="https://samsung-pc:8081/Server.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Domain.DataContract" />
  <xs:import schemaLocation="https://samsung-pc:8081/Server.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="SignIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Domain.ServiceContract" minOccurs="0" name="credential" nillable="true" type="q1:Credential" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SignInResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignOutResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDocumentType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDocumentTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Domain.DataContract" minOccurs="0" name="GetAllDocumentTypeResult" nillable="true" type="q2:ArrayOfDocumentType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDocumentTypebyPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idperson" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDocumentTypebyPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Domain.DataContract" minOccurs="0" name="GetAllDocumentTypebyPersonResult" nillable="true" type="q3:ArrayOfDocument" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="person_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Domain.DataContract" minOccurs="0" name="GetRegistsResult" nillable="true" type="q4:ArrayOfRegist" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCrimeType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCrimeTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Domain.DataContract" minOccurs="0" name="GetAllCrimeTypeResult" nillable="true" type="q5:ArrayOfCrimeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="filters" nillable="true" type="q6:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Domain.DataContract" minOccurs="0" name="GetAllPersonResult" nillable="true" type="q7:ArrayOfPerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Domain.DataContract" minOccurs="0" name="GetPersonResult" nillable="true" type="q8:Person" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBiometricTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="person_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBiometricTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Domain.DataContract" minOccurs="0" name="GetBiometricTypesResult" nillable="true" type="q9:ArrayOfBiometricType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBiometricType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="person_id" type="xs:int" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBiometricTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Domain.DataContract" minOccurs="0" name="GetBiometricTypeResult" nillable="true" type="q10:BiometricType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertParticipant">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Domain.DataContract" minOccurs="0" name="val" nillable="true" type="q11:Participant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertParticipantResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Domain.DataContract" minOccurs="0" name="val" nillable="true" type="q12:Person" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertPersonResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertRegist">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Domain.DataContract" minOccurs="0" name="val" nillable="true" type="q13:Regist" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertRegistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertRegistResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertBiometricType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Domain.DataContract" minOccurs="0" name="val" nillable="true" type="q14:BiometricType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertBiometricTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertBiometricTypeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Domain.DataContract" minOccurs="0" name="doc" nillable="true" type="q15:Document" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDocumentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>