ScarIntelFinal/ScarIntel/Test/Service References/BrokerService/Server5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Domain.ServiceContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Domain.ServiceContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Credential">
    <xs:sequence>
      <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Credential" nillable="true" type="tns:Credential" />
  <xs:complexType name="ServerError">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="ServerError" nillable="true" type="tns:ServerError" />
</xs:schema>